body {
    font-family: Palatino;
    color: navy;
    font-weight: bold;
    width: 100%;
    max-width: 900px;
    margin: auto auto;
    /* Add background img https://hellofieldtrip.com/journal/css-create-fullscreen-background-image/ */
    background: url("images/florals.png") no-repeat fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    opacity: 0.95;
}

#canvas {
    padding: 20px 20px;
    background: white;
    display: inline-block;
    border-radius: 5px;
    margin-top: 55px;
    margin-bottom: 25px;
}

.divTableRow {
    font-size: 0;
    text-align: center; 
}

.divTableCell {
    display: inline-block;
    border: 1px solid lightgray;
    width: 15px;
    height: 15px;
    vertical-align: top;
    text-align: center; 
}

#display {
    width: 900px;
    text-align: center;
    position: relative;
    left: 125px;
    margin-bottom: 100px;
}

#menu {
    display: inline-flex;
    text-align: center;
}

#menu div {
    margin-left: 25px;
    margin-right: 25px;
}

#clear p,
#save p,
#load p {
    cursor: pointer;
}

.color {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    border-radius: 50px;
}

.color:hover,
#wheel:hover {
    /* https://codepen.io/wifeo/pen/qzwkb */
    transition: all 200ms ease-in;
    transform: scale(1.25);
}

#wheel {
    width: 32px;
    cursor: pointer;
}

#picker {
    /* https://stackoverflow.com/questions/8318428/submit-form-fields-inside-displaynone-element */
    visibility: hidden;
    position: absolute;
}